server:
  port: 8082  # 端口号
  servlet:
    context-path: /   #项目根路径（前面必须加/）

spring:
  # Mysql配置
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.postgresql.Driver
    druid:
      url: jdbc:postgresql://192.168.244.131:15432/test_sys?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai
      username: postgres
      password: pgsql!@#12569088ht
      driver-class-name: org.postgresql.Driver

      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"

      #其他配置
      initialSize: 5
      minIdle: 5
      maxActive: 20
      maxWait: 60000
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      filters: stat,wall,slf4j
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

#logging:
#  file:
#    path: D:/logs
#  level:
#    com.zengyanyu.system: debug
#    org.springframework: warn
#    springfox: error

mybatis:
  configuration:
    # 强制指定使用SLF4J（logback基于SLF4J）输出日志，不使用其他日志框架
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
# 如果你用的是MyBatis-Plus，添加以下配置（二选一即可）
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl

file:
  uploadFolder: D:/upload/
  uploadH5Folder: D:/uploadH5/